body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
}


header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h2 {
    color: #007BFF;
    text-align: center;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], 
input[type="email"], 
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007BFF;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.form-group.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button, .btn-secondary {
    width: 48%;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}


button {
    background-color: #007BFF;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}


.btn-secondary {
    background-color: #0b6cc0;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
