table, th, td {
    border: 1px solid black;
}
#titulo_principal{
    color: black;
    width: 30%;
    margin: auto;
    font-size: 2em;
    background: linear-gradient();
    text-decoration-line:underline;
    color: blue;
}
#parrafo{
    color: rgb(28, 28, 44);
}
#sub{
    color: color-mix(in font-size, color orange percentage 30%, color green percentage 70%);
}